header {
  background-color: orange;
  padding: 16px;
}

#title {
  padding: 8px;
  font-weight: bold;
}

#dropdown-title {
}

#genre-dropdown {
  left: -58.3515px;
}

#embedded-video {
  margin: 24px auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

