body {
  background-image: url(background.jpg);
}

header {
  padding: 16px;
}

#header-menu {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

#right-arrow {
  width: 79px;
  height: 72px;
  position: absolute;
  left: -75px;
  top: -10px;
}

#left-arrow {
  width: 92px;
  height: 77px;
  position: absolute;
  right: -80px;
  top: -7.5px;
}

#dropdown-title {
  font-size: 3rem;
  padding: 8px;
  color: #01FFFF;
  font-family: 'Press Start 2P', cursive;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  display: none;
}

#genre-dropdown {
  left: 79.8px;
}

.is-dropdown-submenu {
  background: rgba(0, 0, 0, 0.7);
  border: none;
}

.genre {
  color: #01FFFF;
  font-family: 'Press Start 2P', cursive;
  background: transparent;
}
.genre:hover {
  opacity: 0.7;
}

#game-display {
  display: none;
  margin: 24px 20%;
}

#game-title {
  text-align: center;
  font-weight: bold;
  color: #01FFFF;
  font-family: 'Press Start 2P', cursive;
}

#embedded-video {
  width: 60vw;
  height: 33.75vw;
}

#game-information {
  margin: 24px 0;
}

.cell {
  background-color: #E92EFB;
  font-family: 'Press Start 2P', cursive;
  color: #01FFFF;
  padding: 2%;
}

.game-information-details {
  margin-bottom: 8px;
}

.secondary-game-image {
  margin-top: 8px;
}

#soundcloud-playlist {
  margin-top: 8px;
  width: 100%;
  height: 20vw;
}

#startScreen {
  z-index: 3;
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  #game-display {
    margin: 24px 10%;
  }
  
  #embedded-video {
    width: 80vw;
    height: 45vw;
  }
}

@media only screen and (max-width: 700px) {
  #dropdown-title {
    font-size: 2rem;
  }

  #right-arrow {
    width: 39.5px;
    height: 36px;
    left: -40px;
    top: 3px;
  }

  #left-arrow {
    width: 46px;
    height: 38.5px;
    right: -40px;
    top: 4.5px;
  }
}

@media only screen and (max-width: 450px) {
  #game-display {
    margin: 24px 5%;
  }
  
  #embedded-video {
    width: 90vw;
    height: 50.625vw;
  }

  .cell.small-5 {
    width: 100%;
  }

  #dropdown-title {
    font-size: 1.25rem;
  }

  #right-arrow {
    width: 31.6px;
    height: 28.8px;
    left: -30px;
    top: 1px;
  }

  #left-arrow {
    width: 36.8px;
    height: 30.8px;
    right: -30px;
    top: 2.5px;
  }
}

